@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@*@model CommerceTraining.Models.Blocks.ProductBlock*@
@model CommerceTraining.Models.ViewModels.ProductBlockViewModel

@Html.PropertyFor(m=>m.NameAndMore)

@*<div>
    <h2>
        @Html.PropertyFor(m => m.ProductName)
    </h2>
</div>

<div>
    @Html.ContentLink(@Model.ProductReference)
</div>

<div>
    @Html.PropertyFor(m => m.productDescription)
</div>*@
